/*
    px = unidade de medida absoluta, pixels
    % = porcentagem, relativa ao elemento pai
    em = unidade de medida relativa ao tamanho da fonte do elemento pai
    rem = unidade de medida relativa ao tamanho da fonte do elemento raiz (html)
    vw = unidade de medida relativa à largura da viewport
    (1vw = 1% da largura da janela de visualização)
    vh = unidade de medida relativa à altura da viewport
    (1vh = 1% da altura da janela de visualização)
*/

* {
    /*Tipografia*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;

    /*Alinhamento dos elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*Scrollbar*/
    scrollbar-width: auto;
    scrollbar-color: rgb(64, 128, 255) rgb(0, 0, 0);
}

body {
    /*Cor de fundo*/
    background-color: rgb(0, 8, 24);
    background-image: linear-gradient(180deg, rgba(0, 32, 64, 1) 0%, rgba(4, 8, 16, 1) 100%); /*Degradê*/
    background-repeat: no-repeat; /*Não repetir a imagem*/
    padding: 2em; /*Espaçamento interno de 2em*/
}

p {
    margin-bottom: 0.5em; /*Margem inferior de 0.5em*/
}

h2 {
    margin-top: 1em; /*Margem superior de 1em*/
    margin-bottom: 1em; /*Margem inferior de 1em*/
}

/*Classe 'banner'*/
.banner {
    /*Banner*/
    background-color: rgb(0, 24, 72);
    background-image: linear-gradient(180deg rgba(4,8,16,0) 0%, rgba(4,8,16,1) 100%),
                      url("https://picsum.photos/600/300/?blur=1") /*center/cover norepeat*/;
    background-position: center; /*Posição da imagem*/
    background-repeat: no-repeat; /*Não repetir a imagem*/
    background-size: cover; /*Cobre todo o espaço disponível*/

    /*Estilo do banner*/
    color: rgb(255, 255, 255); /*Cor do texto*/
    text-align: center; /*Alinhamento do texto ao centro*/
    padding: 2em; /*Espaçamento interno, em todos os sentidos*/
    margin: 1em 2em 1em 2em; /*Espaçamento externo*/
    /*Em cima e embaixo: 1em, laterais: 2em
    É o mesmo que...
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    */

    /*Bordas*/
    border:#ffffff 1px solid; /*Borda branca de 1px*/
    border-radius: 1.5em; /*Bordas arredondadas*/
}

.banner p {
    /*Estilo do parágrafo dentro do banner*/
    font-size: 1.25em; /*Tamanho da fonte: 1.25em*/
    font-weight: bold; /*Negrito*/
    color: rgb(208, 240, 255); /*Cor do texto*/

    margin: 0.25em 0 0; /*Margem: 0.25em em cima, 0 em baixo, 0 em laterais*/
}

.destaque {
    color: rgb(128, 190, 255); /*Cor do texto destacado*/
}

/*Id 'especial'*/
#especial {
    background-color: rgb(40, 80, 120);
    padding: 1em; /*Espaçamento interno de 1em*/
    border-radius: 1em; /*Bordas arredondadas*/
    width: 75%; /*Largura de 75% do elemento pai*/
}

img {
    /*Estilo das imagens*/
    max-width: 75%; /*Largura máxima de 75% do elemento pai*/
    border-radius: 1em; /*Bordas arredondadas*/
}

table {
    border-collapse: collapse; /*Remove espaçamento entre células*/
    margin-top: 1em; /*Margem superior de 1em*/
}

th, td {
    /*Estilo das células da tabela*/
    border: 1px solid rgb(40, 80, 120); /*Borda de 1px*/
    padding: 0.5em; /*Espaçamento interno de 0.5em*/
    text-align: center; /*Alinhamento do texto ao centro*/
}

th {
    background-color: rgb(40, 80, 120);
}

.botao {
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold; /*Negrito*/
    color: rgb(255, 255, 255); /*Cor do texto*/
    border: rgb(255, 255, 255) 1px solid; /*Borda branca de 1px*/
    border-radius: 0.5em; /*Bordas arredondadas*/
    padding: 0.5em; /*Espaçamento interno de 0.5em*/
    transition: all 0.2s ease; /*Transição suave de 0.2 segundos*/
}

.botao:hover {
    background-color: rgba(0, 255, 255, 0.5);
    cursor: pointer; /*Cursor de ponteiro ao passar o mouse*/
}

.botao:active {
    background-color: rgba(0, 255, 255, 0.75);
}