@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Paleta */
    --fundo: #132437;
    --bg-home: #010300;
    --linha-decorativa: #C7CDD6;
    --texto-suave: #B3C0CF;
    --texto-escuro: #0C0101;
    --branco: #FFFFFF;
    --amarelo: #F7C13C;
    --borda-suave: rgba(255, 255, 255, 0.2);
    --sombra-passo-clara: rgba(145,145,145,0.2);
    --sombra-passo-escura: rgba(0,0,0,0.5);
    --sombra-neo-clara: rgba(255,255,255,0.7);
    --sombra-neo-escura: rgba(0,0,0,0.8);
    --borda: #313A3C;
    --erro: #D40000;

    /* Tipografia */
    --fonte: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--amarelo) var(--fundo);
    scroll-behavior: smooth;
}